<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> About Me </title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="centered"> About Sarah McGloin </h1>
        <div>
        <p id="third-paragraph">This is the third paragraph with an id attribute. It is styled differently.</p>
            <h2> Background </h2>
                <p>My name is Sarah McGloin. I am from <em>Lexington, Mass</em> which is 25 minutes outside of <em>Boston</em>.</p>
                <!-- Absolute Link to Websites -->
                <p>A link to <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank">My Favorite Website</a></p>
                <p>A link to <a href="https://www.nytimes.com/games/connections" target="_blank">My Other Favorite Website</a></p>
                <!-- Relative Link to Websites -->
                <p>A link to <a href="/hello" target="_blank">HTML Page I Created</a></p>
                <p><strong>My Hobbies are:</strong></p>
                <ul>
                    <li>Skiing</li>
                    <li>Traveling</li>
                    <li>Hanging Out With Friends</li>
                    <li>Shopping</li>
                    <li>Working Out</li>
                    <li>Trying New Food</li>
                </ul>

                <p><strong>3 Fun Facts About Me Are:</strong></p>
                <ol>
                    <li>I tore my ACL skiing</li>
                    <li>I am a dual citizen</li>
                    <li>I studied abroad in Madrid</li>
                </ol>
            <h2> Education </h2>
            <!-- Robert H Smith School of Business Logo -->
            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" class="logo" alt="Smith Logo">
            <p>I am a senior marketing and information systems double major at the Robert H Smith School of Business</p>
            </div>
            <h3>Courses Ive Taken:</h3>
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Spring 2024</td>
            </tr>
            <tr>
                <td>BMGT458U</td>
                <td>Spring 2024</td>
            </tr>
        </table>
    </body>
</html>