<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1>Contact Information</h1>
<form class="row g-3" action="{{ url_for('contact') }}" method="post">
  <div class="col-md-6">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" aria-describedby="first_name">
  </div>
  <div class="col-md-6">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" aria-describedby="last_name">
  </div>
  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="email">
  </div>
  <div class="col-12">
    <label for="address" class="form-label">Address</label>
    <input type="address" class="form-control" id="address" aria-describedby="address">
  </div>
  <div class="col-12">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" class="form-control" id="phone" aria-describedby="phone">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>